:root {
  --main-bg-color: white;
  --main-link-color: #e31b00;
  --grey-bg-color: rgb(242, 240, 240);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.search-loading {
  position: absolute;
  left: calc(50vw - 99px);
  top: 20vh;
}

.nav-link-container {
  display: none;
}

.header-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-down {
  display: flex;
  justify-content: space-evenly;
}

.header-left-down {
  width: 35%;
  display: flex;
  justify-content: center;
}

.header-left-up {
  display: flex;
}

.header-middle-up {
  display: flex;
  margin-top: 0px;
  width: 30%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header-middle-down {
  display: flex;
  margin-top: 12vh;
  justify-content: flex-end;
  max-width: 30%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header-right-up {
  display: flex;
  align-items: center;
}

.header-right-down {
  padding-top: 8px;
  width: 35%;
  display: flex;
  justify-content: center;
}

#login,
#register {
  white-space: nowrap;
  height: 24px;
  padding: 0px 25px;
  margin-left: calc(15px + 0.4vw);
  font-size: 12px;
  border: 1px solid rgb(187, 94, 60);
  border-radius: 28px;
  background-color: #e31b00;
  cursor: pointer;
}

#login:hover,
#register:hover,
#modal-login:hover,
#modal-register:hover {
  background-color: #bb2604;
}

#login:active,
#register:active,
#modal-login:active,
#modal-register:active {
  position: relative;
  top: 1px;
}

.logo {
  margin: 0;
  padding-left: 10%;
  min-width: 15%;
  max-width: 40%;
}

.text {
  margin: 0px 0px 10px 0px;
  font-size: calc(10px + 1.5vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #cd0001;
}

.search-bar {
  position: relative;
}

#search-input-down {
  max-width: 500px;
  width: 50vw;
  padding: 10px 22px;
  border: 2px solid rgb(117, 117, 117);
  background-color: rgb(241, 240, 240);

  border-radius: 9999em;
  outline: none;
}

#search-input-up {
  min-width: 220px;
  max-width: 500px;

  padding: 5px 10px;
  border: 2px solid rgb(117, 117, 117);
  background-color: rgb(241, 240, 240);

  border-radius: 9999em;
  outline: none;
}

#search-button-down {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40px;
  width: 80px;
  border: none;
  cursor: pointer;
  border-radius: 9999em;
  border: 2px solid rgb(117, 117, 117);
}

#search-button-up {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 60px;
  border: none;
  cursor: pointer;
  border-radius: 9999em;
  border: 2px solid rgb(117, 117, 117);
}

.menu {
  margin: 4px 18px;
  height: 32px;
  cursor: pointer;
}

.results {
  background-color: var(--main-bg-color);
  margin: 0px 15vw 0px 15vw;
  padding: 0px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
}

li {
  background-color: rgb(245, 245, 242);
  margin-left: 15px;
  margin-right: 15px;
}

.paddedText {
  text-align: left;
  margin: 0px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: lighter;
}

.resultItem {
  text-align: left;
  padding-left: 50px;
}

.filmography {
  text-align: left;
  padding: 5px 0 5px 25px;
  color: var(--main-link-color);
}

li:nth-child(even).filmography {
  background-color: rgb(213, 213, 213);
}

.link {
  cursor: pointer;
  color: var(--main-link-color);
  text-decoration: underline;
}

li:nth-child(even) {
  background-color: var(--main-bg-color);
}

.movieContainer {
  background-color: var(--grey-bg-color);
  margin: 0 20vw;
  padding: 0;
}

.movieInfo {
  text-align: left;
  margin: 0px;
  padding: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: lightgray;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 25px;
  width: 350px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: 1000;
  line-height: 1;
  opacity: 0.8;
  cursor: pointer;
  border: 2px solid #f65900;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 2px;
}

.modal-span {
  color: #f65900;
  width: 25px;
  font-size: 25px;
  margin-top: -3px;
  padding-bottom: 1px;
}

.modal-logo {
  width: 50%;
  padding-left: 15%;
}

.modal-confirm,
.modal-email,
.modal-password {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Verdana;
  font-size: 14px;
}

.modal-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#modal-login,
#modal-register {
  align-self: center;
  white-space: nowrap;
  height: 24px;
  padding: 0px 25px;
  font-size: 12px;
  border: 1px solid rgb(187, 94, 60);
  border-radius: 28px;
  background-color: #f65900;
  cursor: pointer;
}

#confirm-input,
#email-input,
#password-input {
  max-width: 500px;
  width: 90%;
  padding: 3px 10px;
  margin-top: 10px;
  border: 2px solid rgb(241, 240, 240);
  background-color: rgb(241, 240, 240);
  border-radius: 9999em;
  outline: none;
}

.hide {
  display: none;
}
